.dashboard-container {
    .content {
        display: flex;
        gap: 20px;

        .c-left {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            width: 50%;
          
            .child {
                width: calc(50% - 10px);
                height: 150px;
                border: 1px solid gray;             
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                flex-direction: column;
             .text-2 {
                 font-size: 25px;
             }  
            }
        }

        .c-right {
            width: 50%;
           
            height: 320px;
        }
    }
}