#root {
  
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  
}

.app-container {
  .header-container { 
    .navbar-nav  {
      .nav-link{ 
        &.active  {
          color: rgb(2, 209, 245);

        }
      }
    }
  }
}